.login-container {
  text-align: center;
  padding: 50px;
}

.login-header, .login-subheader {
  margin-bottom: 20px;
}

.plan-container {
  display: flex;
  justify-content: space-around;
  margin-bottom: 30px;
}


.plan-box {
  flex: 1;
  padding: 15px;
  border: 1px solid #ccc;
  border-radius: 5px;
  font-size: 0.8em;
  line-height: 1;
}


body .plan-box:hover, body .plan-box:active {
  background-color: #90a17d;
  transition: background-color 0.3s ease;
}

body .plan-box.pro:hover, body .plan-box.pro:active {
  background-color: #90a17d;
}

.input-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.login-input {
  margin-bottom: 30px;
  padding: 20px;
  width: 250px;
  font-size: 20px;
}

.login-button {
  padding: 40px 70px;
  background-color: #007bff;
  color: #fff;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 20px;
}

.login-button:hover {
  background-color: #0056b3;
}


.checkbox-container {
  margin-top: 10px;
  margin-bottom: 30px;

}

#emailNotifications {
  width: 125px;
  height: 125px;
  transform: scale(1.5);
  margin-right: 10px;
}

label[for="emailNotifications"] {

  font-size: 1.2em;
}
